
#header{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#main_container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item{
  box-shadow: 4px 4px 5px #777;
  background-color:#fff;
  border-radius: 5px;
  padding:10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
  margin-bottom: 50px;
}

.item:hover{
  background-color: lightgrey;
}

input{
  border-radius: 3px;
  border:none;
  height: 30px;
  margin: 10px;
}

input[type='button']{
  border-radius: 3px;
  background-color: white;
  color: #205174;
}

input[type='button']:active{
  background-color: #205174;
  color: white;
  transform: scale(1.4);
}

body{
  background-color: #45aaf2;
  font-family: 'Roboto Slab', serif;
}

.item h3 img{
  width: 30px;
  margin-right: 5px;
}

.item h3{
  display: flex;
  align-items: center;
}

h1{
  font-size: 40px;
}
